<div class="count_result">
	<h2>検索結果</h2>
	<table class="table table-bordered table-wigth">
		<thead>
			<th>
				検索結果
			</th>
		</thead>
		<tbody>
			<td>
				<%= count_result %>
			</td>
		</tbody>
	</table>
</div>